{% extends 'front.html.twig' %}

{% block title %}Actualite{% endblock %}

{% block body %}
<div class="text-primary" style="font-weight: bolder; font-size: 2rem;">
<div class="container">
<div class="row">
<p >{{actualite.continu}}</p>
</div>
</div>
{%endblock%}