{% extends 'student/base-back.html.twig' %}
{% block body %}
<h1>update Abonnement</h1>

{{ form(f) }}

<ul>
        <li><code><a href="{{ path('abonnement') }}">Annuler</a></code></li>
</ul>
{% endblock %}