{% extends 'backoffcie.html.twig' %}

{% block body %}
    <a class="btn btn-primary btn-xl text-uppercase" href="http://127.0.0.1:8000/AfficheU">utilisateurs</a>
    <a class="btn btn-primary btn-xl text-uppercase" href="http://127.0.0.1:8000/livreur/affiche_livreur_back">Livreur</a>
    <a class="btn btn-primary btn-xl text-uppercase" href="http://127.0.0.1:8000/livraison/affiche_livraison_back">Livraison</a>
    <a class="btn btn-primary btn-xl text-uppercase" href="http://127.0.0.1:8000/actualite">actualité</a>
    <a class="btn btn-primary btn-xl text-uppercase" href="http://127.0.0.1:8000/AfficheMoyen">Moyens transports</a>
    <a class="btn btn-primary btn-xl text-uppercase" href="http://127.0.0.1:8000/pub/Add">Publicité</a>
    <a class="btn btn-primary btn-xl text-uppercase" href="http://127.0.0.1:8000/covoiturage/afficheback">covoiturage</a>
    <a class="btn btn-primary btn-xl text-uppercase" href="http://127.0.0.1:8000/vehicule/afficheback_vehiculee">vehicules</a>
    <a class="btn btn-primary btn-xl text-uppercase" href="http://127.0.0.1:8000/AfficheAbonnement">Abonnement</a>




{% endblock %}