{% extends 'backoffice.html.twig' %}

{% block title %}Edit Actualitee{% endblock %}

{% block body %}
    <h1>Edit Actualitee</h1>

    {{ include('actualitee/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('actualitee_index') }}">back to list</a>

    {{ include('actualitee/_delete_form.html.twig') }}
{% endblock %}
