/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 28 oct. 2021, 16:26:31
    Author     : khili youssef
*/
.btn:hover{
    -fx-cursor:hand ;
}
.table-view {
    -fx-background-color:#651FFF;
    -fx-background-radius:14 14 0 0;
    
    }
.table-view .column-header-background{
        -fx-background-color: #651FFF;
        -fx-background-radius:14;
        -fx-background-insets: 0 0 10 0;
       
        
        
    }
.table-view .column-header, .table-view .filler{
        -fx-size:50px;
        -fx-border-width: 0 0 10 0;
        -fx-background-color:transparent;
        
    }
    
.table-view .column-header .label {
        -fx-text-fill: white ;
    }
